<mat-card>
    <mat-card-title>
        Detalhes do Gasto
    </mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome da pessoa" [(ngModel)]="gasto.nomePessoa" name="nomePessoa" disabled >
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Descrição" [(ngModel)]="gasto.descricao" name="descricao" disabled >
        </mat-form-field>
        <mat-form-field>
            <input matInput type="datetime-local" placeholder="Data/Hora" [(ngModel)]="gasto.dataHora" name="dataHora" disabled >
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Valor" [(ngModel)]="gasto.valor" name="valor" disabled >
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Tag" [(ngModel)]="gasto.tag" name="tag" disabled >
        </mat-form-field>
    </form>
    <button mat-raised-button color="warn" (click)="cancelar()">
        Cancelar
    </button>
</mat-card> 