<mat-card>
    <mat-card-title>
        Novo Gasto
    </mat-card-title>
    <form [formGroup]="form">
        <mat-form-field>
            <input matInput placeholder="Nome da pessoa"  name="nomePessoa" formControlName="nomePessoa" maxlength="150" required >
            <mat-error>{{MSG_CAMPO_OBRIGATORIO}}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Descrição"  name="descricao" formControlName="descricao" maxlength="500" required >
            <mat-error>{{MSG_CAMPO_OBRIGATORIO}}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="datetime-local" placeholder="Data/Hora"  name="dataHora" formControlName="dataHora" required >
            <mat-error>{{MSG_CAMPO_OBRIGATORIO}}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Valor"  name="valor" formControlName="valor" type="number" maxlength="10" required >
            <mat-error>{{MSG_CAMPO_OBRIGATORIO}}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Tag"  name="tag" formControlName="tag" maxlength="200" required >
            <mat-error>{{MSG_CAMPO_OBRIGATORIO}}</mat-error>
        </mat-form-field>
    </form>
    <button color="primary" mat-raised-button (click)="criarGasto()" >
        Salvar
    </button>
    <button color="warn" mat-raised-button (click)="cancelar()">
        Cancelar
    </button>
</mat-card>