 <div class="mat-elevation-z4">
    <table mat-table matSort [dataSource]="gastos">
      <ng-container matColumnDef="nomePessoa">
        <th mat-header-cell *matHeaderCellDef >Nome da pessoa</th>
        <td mat-cell *matCellDef="let row">{{row.nomePessoa}}</td>
      </ng-container>
  
      <ng-container matColumnDef="descricao">
        <th mat-header-cell *matHeaderCellDef >Descrição</th>
        <td mat-cell *matCellDef="let row">{{row.descricao}}</td>
      </ng-container>

      <ng-container matColumnDef="valor">
        <th mat-header-cell *matHeaderCellDef >Valor</th>
        <td mat-cell *matCellDef="let row">{{row.valor | currency: 'BRL'}}</td>
      </ng-container>

      <ng-container matColumnDef="acao">
        <th mat-header-cell *matHeaderCellDef >Ação</th>
        <td mat-cell *matCellDef="let row">
            <a routerLink="/gasto/detail/{{row.id}}" >
                <i class="material-icons" >
                    search
                </i>
            </a>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
  </div>
  